/Library/
/Temp/
/obj/
/Assets/AssetStoreTools*
/.vs/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.unitypackage

Temp/

Obj/

UnityGenerated/

Library/
*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj

.Spotlight-V100

.Trashes
